<footer class="footer">
  <div class="container-lg d-flex flex-column flex-xl-row my-5">
    <ul class="nav flex-column my-3 my-lg-0">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
    </ul>

    <ul class="nav flex-column my-3 my-lg-0">
      <li class="nav-item">
        <a href="#" class="nav-link">Lorem, ipsum dolor.</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Cupiditate, possimus et.</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Quos, error sint?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Cupiditate, exercitationem nihil?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Dolore, earum cum.</a>
      </li>
    </ul>

    <div class="newsletter text-light my-2 mx-3 ps-lg-4">
      <div class="d-flex align-items-center">
        <i class="fa-regular fa-paper-plane fs-2"></i>
        <p class="m-0 ms-4">
          <span>Subscribe to our newsletter</span><br />
          <span class="small-text opacity-75"
            >and get 10% off your first purchase</span
          >
        </p>
      </div>

      <div class="input-group mt-4">
        <input
          class="form-control"
          type="email"
          placeholder="Enter your email address"
        />

        <button class="btn btn-outline-light px-4" type="submit">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>

    <ul class="nav social-media mt-5 mt-lg-0">
      <li class="nav-item">
        <a href="https://www.instagram.com/" class="nav-link" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.facebook.com/" class="nav-link" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/" class="nav-link" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://linkedin.com/" class="nav-link" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://youtube.com" class="nav-link" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
